<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tBJNSHM">
      <h2 data-cy="tBJNSHMDetailsHeading"><span jhiTranslate="ssiApp.tBJNSHM.detail.title">TBJNSHM</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ssiApp.tBJNSHM.jshsts">Jshsts</span></dt>
        <dd>
          <span>{{ tBJNSHM.jshsts }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNSHM.jshcod">Jshcod</span></dt>
        <dd>
          <span>{{ tBJNSHM.jshcod }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNSHM.jshnam">Jshnam</span></dt>
        <dd>
          <span>{{ tBJNSHM.jshnam }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNSHM.jshlmd">Jshlmd</span></dt>
        <dd>
          <span>{{ tBJNSHM.jshlmd | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNSHM.jshuid">Jshuid</span></dt>
        <dd>
          <span>{{ tBJNSHM.jshuid }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tbjnshm', tBJNSHM.jshcod, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
