<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tbtyps-heading" data-cy="TBTYPSCreateUpdateHeading" jhiTranslate="ssiApp.tBTYPS.home.createOrEditLabel">
        Create or edit a TBTYPS
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.tBTYPS.tpssts" for="field_tpssts">Tpssts</label>
          <input type="text" class="form-control" name="tpssts" id="field_tpssts" data-cy="tpssts" formControlName="tpssts" />
          <div *ngIf="editForm.get('tpssts')!.invalid && (editForm.get('tpssts')!.dirty || editForm.get('tpssts')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tpssts')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.tBTYPS.tpscod" for="field_tpscod">Tpscod</label>
          <input
            type="text"
            class="form-control"
            name="tpscod"
            id="field_tpscod"
            data-cy="tpscod"
            formControlName="tpscod"
            [readonly]="editForm.get('tpscod')!.value != null"
          />
          <div *ngIf="editForm.get('tpscod')!.invalid && (editForm.get('tpscod')!.dirty || editForm.get('tpscod')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tpscod')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tpscod')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1 }"
            >
              This field cannot be longer than 1 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.tBTYPS.tpsnam" for="field_tpsnam">Tpsnam</label>
          <input type="text" class="form-control" name="tpsnam" id="field_tpsnam" data-cy="tpsnam" formControlName="tpsnam" />
          <div *ngIf="editForm.get('tpsnam')!.invalid && (editForm.get('tpsnam')!.dirty || editForm.get('tpsnam')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tpsnam')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tpsnam')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40 }"
            >
              This field cannot be longer than 40 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.tBTYPS.tpslmd" for="field_tpslmd">Tpslmd</label>
          <div class="input-group">
            <input
              id="field_tpslmd"
              data-cy="tpslmd"
              type="text"
              class="form-control"
              name="tpslmd"
              ngbDatepicker
              #tpslmdDp="ngbDatepicker"
              formControlName="tpslmd"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="tpslmdDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('tpslmd')!.invalid && (editForm.get('tpslmd')!.dirty || editForm.get('tpslmd')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tpslmd')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.tBTYPS.tpsuid" for="field_tpsuid">Tpsuid</label>
          <input type="text" class="form-control" name="tpsuid" id="field_tpsuid" data-cy="tpsuid" formControlName="tpsuid" />
          <div *ngIf="editForm.get('tpsuid')!.invalid && (editForm.get('tpsuid')!.dirty || editForm.get('tpsuid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tpsuid')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
