<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mapsks-heading" data-cy="MAPSKSCreateUpdateHeading" jhiTranslate="ssiApp.mAPSKS.home.createOrEditLabel">
        Create or edit a MAPSKS
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.mAPSKS.msksts" for="field_msksts">Msksts</label>
          <select class="form-control" name="msksts" formControlName="msksts" id="field_msksts" data-cy="msksts">
            <option [ngValue]="null">{{ 'ssiApp.StatusSKS.null' | translate }}</option>
            <option *ngFor="let statusSKS of statusSKSValues" [value]="statusSKS">{{ 'ssiApp.StatusSKS.' + statusSKS | translate }}</option>
          </select>
          <div *ngIf="editForm.get('msksts')!.invalid && (editForm.get('msksts')!.dirty || editForm.get('msksts')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('msksts')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.mAPSKS.mskno" for="field_mskno">Mskno</label>
          <select class="form-control" id="field_mskno" data-cy="mskno" name="mskno" formControlName="mskno">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="mFSKSOption.skno === editForm.get('mskno')!.value?.skno ? editForm.get('mskno')!.value : mFSKSOption"
              *ngFor="let mFSKSOption of mFSKSSharedCollection; trackBy: trackMFSKSBySkno"
            >
              {{ mFSKSOption.skno }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.mAPSKS.mskohdr" for="field_mskohdr">Mskohdr</label>
          <select class="form-control" id="field_mskohdr" data-cy="mskohdr" name="mskohdr" formControlName="mskohdr">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="mFHDROption.hdno === editForm.get('mskohdr')!.value?.hdno ? editForm.get('mskohdr')!.value : mFHDROption"
              *ngFor="let mFHDROption of mFHDRSSharedCollection; trackBy: trackMFHDRByHdno"
            >
              {{ mFHDROption.hdno }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssiApp.mAPSKS.mskhdr" for="field_mskhdr">Mskhdr</label>
          <select class="form-control" id="field_mskhdr" data-cy="mskhdr" name="mskhdr" formControlName="mskhdr">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="mFHDROption.hdno === editForm.get('mskhdr')!.value?.hdno ? editForm.get('mskhdr')!.value : mFHDROption"
              *ngFor="let mFHDROption of mFHDRSSharedCollection; trackBy: trackMFHDRByHdno"
            >
              {{ mFHDROption.hdno }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
