<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tBJNPS">
      <h2 data-cy="tBJNPSDetailsHeading"><span jhiTranslate="ssiApp.tBJNPS.detail.title">TBJNPS</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ssiApp.tBJNPS.jpssts">Jpssts</span></dt>
        <dd>
          <span>{{ tBJNPS.jpssts }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNPS.jpscod">Jpscod</span></dt>
        <dd>
          <span>{{ tBJNPS.jpscod }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNPS.jpsnam">Jpsnam</span></dt>
        <dd>
          <span>{{ tBJNPS.jpsnam }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNPS.jpslmd">Jpslmd</span></dt>
        <dd>
          <span>{{ tBJNPS.jpslmd | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ssiApp.tBJNPS.jpsuid">Jpsuid</span></dt>
        <dd>
          <span>{{ tBJNPS.jpsuid }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tbjnps', tBJNPS.jpscod, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
