<div>
  <h2 id="page-heading" data-cy="TBCOMFOHeading">
    <span jhiTranslate="ssiApp.tBCOMFO.home.title">TBCOMFOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ssiApp.tBCOMFO.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tbcomfo"
        [routerLink]="['/tbcomfo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ssiApp.tBCOMFO.home.createLabel"> Create a new TBCOMFO </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tBCOMFOS?.length === 0">
    <span jhiTranslate="ssiApp.tBCOMFO.home.notFound">No tBCOMFOS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tBCOMFOS && tBCOMFOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.costs">Costs</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.cocode">Cocode</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.conam">Conam</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.cocbei">Cocbei</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.conbei">Conbei</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.cosat">Cosat</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.conom">Conom</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.coseri">Coseri</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.codir">Codir</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.colmd">Colmd</span></th>
          <th scope="col"><span jhiTranslate="ssiApp.tBCOMFO.couid">Couid</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tBCOMFO of tBCOMFOS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tbcomfo', tBCOMFO.id, 'view']">{{ tBCOMFO.id }}</a>
          </td>
          <td>{{ tBCOMFO.costs }}</td>
          <td>{{ tBCOMFO.cocode }}</td>
          <td>{{ tBCOMFO.conam }}</td>
          <td>{{ tBCOMFO.cocbei }}</td>
          <td>{{ tBCOMFO.conbei }}</td>
          <td>{{ tBCOMFO.cosat }}</td>
          <td>{{ tBCOMFO.conom }}</td>
          <td>{{ tBCOMFO.coseri }}</td>
          <td>{{ tBCOMFO.codir }}</td>
          <td>{{ tBCOMFO.colmd | formatMediumDate }}</td>
          <td>{{ tBCOMFO.couid }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tbcomfo', tBCOMFO.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tbcomfo', tBCOMFO.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tBCOMFO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
